body {
    color: #101010;
    background-color: #fafafa;
}

@font-face {
    font-family: 'VT323';
    src: url("../font/VT323.ttf");
}
@font-face {
    font-family: 'OpenSans';
    src: url("../font/open-sans.ttf");
}

* {
    font-family: 'VT323'
}

.screen-title {
    margin-left: 5% !important;
}
h2 {
    margin-left: 3% !important;
}

p, a {
    font-size: 14px;
}
button {
    font-size: 14px;
}
h1 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

button, p, a, input {
    color: #101010;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    white-space: break-spaces;
}

button:hover {
    /* #2A002A for light theme ; #cf9fff for dark theme */
    cursor: pointer;
    color: #2A002A
}