#top-left, #top-right, #bottom-left, #screen, #top, #bottom {position: fixed;}
#top-left, #top-right, #bottom-left, #screen, #top, #bottom, #top-left *, .skill-tab {display: inline;}
#home-div, #info-div, #skill-div, #tools-div, #tool-t1-char-count, #settings-div, #about-div {display: none; width: 100%;}
#tool-t1-char-count {display: none;}
#settings-div * {display: block;}
#tools-list * {display: block;}

.skill-tab button {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #cf9fff;
}
.skill-tab .cv {
    width: 50px !important;
}

.ytv {display: block;}

#titlev {
    font-size: 10px;
}

#screen-alert {
    display: none;
}

#screen {
    overflow: auto;
    top: 3.5%;
    left: 0px;
    width: 99.6%;
    height: 92.5%;
}

#screen * {
    width: auto;
    padding: 2px;
    margin: 5px;}

#top-left {
    top: 0.5px;
    left: 2px;
}
#top-right {
    top: 0.5px;
    right: 2px;
}

#bottom-left {
    bottom: 1px;
    left: 2px;
}

#tl1-text {
    min-width: 40px;
    max-width: 300px;
    min-height: 40px;
    max-height: 150px;
}

@media (max-width: 345px) or (max-height: 335px) {
    * {
        position: relative !important;
    }
    #top-left *, #top-right *, #bottom-left *, #home-div *, #info-div *, #skill-div *, 
    #tools-div *, #tool-t1-char-count *, #settings-div *, #about-div * {
        display: block !important;
    }
    #screen-alert {display: block;}
    #bottom-left{bottom: 0 !important;}
    #screen {border: 0;}
    #titlev {display: block !important;}
}
@media (max-width: 375px) {
    p, a {font-size: 6px !important;}
    button {font-size: 6px !important;}
    h1 {font-size: 10px !important;}
    h3 {font-size: 8px;}
    #screen {border: 0;}
    #titlev {display: none;}
    #bottom-left {bottom: 1.5px}
}
@media (max-width: 480px) {
    p, a {font-size: 10px !important;}
    button {font-size: 10px !important;}
    h1 {font-size: 14px !important;}
    h3 {font-size: 12px;}
    #titlev {font-size: 8px !important;}
    #bottom-left {bottom: 1.5px}
}
@media (max-height: 680px) {
    #screen {
        top: 6.5%;
        height: 81%;
    }
}